<template>
  <div class="platform-iframe">
    <iframe :src="url" frameborder="0"></iframe>
  </div>
</template>

<script>
import Vue from 'vue'
const URL_MAP = {
  automation: window.__AutomationServerUrl,
  uitesting: window.__UITestingUrl
};
export default {
  name: 'PlatformIframe',
  data() {
    return {
      url: URL_MAP[this.$route.name]
    }
  },
  // async beforeRouteEnter(to, from, next) {
    // if(to.name !== 'uitesting') {
    //   return next(vm => vm.url = URL_MAP[to.name]);
    // }
    // let uid = encodeURIComponent(sessionStorage.uid || '');
    // let pwd = encodeURIComponent(sessionStorage.pwd || '');
    // let url = `/uitesting/login?username=${uid}&password=${pwd}&rememberMe=true`
    // await Vue.prototype.$post(url);
    // next(vm => vm.url = `${URL_MAP.uitesting}/index?loginName=${uid}`);
    // next(vm => vm.url = `${URL_MAP.uitesting}/index?loginName=${uid}`);
  // }
}
</script>

<style lang="less" scoped>
.platform-iframe{
  width: 100%;
  height: calc(100vh -40px);
  >iframe {
    width: 100%;
    height: 100%;
  }
}
</style>
