<template>
  <el-card class="table-card" v-loading="result.loading" body-style="padding:16px 5px 16px 16px;" style="height: 350px;margin-top: 5px">
    <div slot="header" class="title-wrapper">
      <span class="title">
        {{ $t('zl_zsljc.home.scene_count_card.title') }}
      </span>
      <span class="subtitle">{{ $t('zl_zsljc.home.scene_count_card.subtitle')}}</span>
    </div>
    <el-container>
      <el-aside width="120px">
        <ms-count-ring-chart :content="sceneCountData.allApiDataCountNumber"/>
      </el-aside>

      <el-main style="padding-left: 0px;padding-right: 0px;">
        <div style="display: inline-block;float: right;margin:0 auto">
          <el-row align="center" class="hidden-lg-and-down">
            <el-col :span="6"
                    style="font-size: 0;padding: 5px;border-right-style: solid;border-right-width: 1px;border-right-color: #ECEEF4;">
              <div class="count-info-div" v-html="sceneCountData.httpCountStr"></div>
            </el-col>
            <el-col :span="6"
                    style="font-size: 0;padding: 5px;border-right-style: solid;border-right-width: 1px;border-right-color: #ECEEF4;">
              <div class="count-info-div" v-html="sceneCountData.rpcCountStr"></div>
            </el-col>
            <el-col :span="6"
                    style="font-size: 0;padding: 5px;border-right-style: solid;border-right-width: 1px;border-right-color: #ECEEF4;">
              <div class="count-info-div" v-html="sceneCountData.tcpCountStr"></div>
            </el-col>
            <el-col :span="6" style="font-size: 0;padding: 5px;">
              <div class="count-info-div" v-html="sceneCountData.sqlCountStr"></div>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>
    <el-container class="detail-container">
      <el-main style="padding: 5px 5px 0px 0px;margin-top: 10px">
        <el-container style="height: 96px">
          <el-aside width="60%" class="count-number-show" style="margin-bottom: 0px;margin-top: 0px">
            <el-container style="height: 40px;margin-top: 10px">
              <el-aside width="80px" style="line-height: 40px;">
                <span style="float: left">
                  {{ $t('zl_zsljc.home.zsl') + ":" }}
                </span>
              </el-aside>
              <el-main style="padding: 0px 0px 0px 0px; line-height: 40px; text-align: center;">
                <span class="rows-count-number">
                {{ sceneCountData.completionRage }}
                  <el-tooltip placement="top" class="info-tool-tip">
                    <div slot="content">{{ $t('zl_zsljc.home.zslTips') }}</div>
                    <el-button icon="el-icon-info" style="padding:0px;border: 0px"></el-button>
                  </el-tooltip>
              </span>
              </el-main>
            </el-container>
            <el-container style="height: 40px;margin-top: 1px">
              <el-aside width="80px" style="line-height: 40px;">
                <span style="float: left">
                    <span>{{ $t('zl_zsljc.home.wcbz') + ":" }}</span>
                </span>
              </el-aside>
              <el-main style="padding: 0px 0px 0px 0px; line-height: 40px; text-align: center;">
                <span v-if="interfaceCoverage === 'waitting...'">
                  <i class="el-icon-loading lading-icon"></i>
                </span>
                <span v-else class="rows-count-number">
                  {{ interfaceCoverage }}
                  <el-tooltip placement="top" class="info-tool-tip">
                    <div slot="content">{{ $t('zl_zsljc.home.wcbzTips') }}</div>
                    <el-button icon="el-icon-info" style="padding:0px;border: 0px"></el-button>
                  </el-tooltip>
                </span>
              </el-main>
            </el-container>
          </el-aside>
          <el-main style="padding: 0px; height: 80px; float:right;">
            <el-card class="no-shadow-card" body-style="padding-left:5px;padding-right:5px">
              结论：不合格
            </el-card>
          </el-main>
        </el-container>
      </el-main>
    </el-container>
  </el-card>
</template>

<script>

import MsCountRingChart from "@/business/components/common/chart/MsCountRingChart";

export default {
  name: "MsSceneInfoCard",

  components: {MsCountRingChart},

  data() {
    return {
      result: {},
      loading: false
    }
  },
  props: {
    sceneCountData: {},
    interfaceCoverage: String,
  },
  methods: {
    redirectPage(clickType) {
      this.$emit("redirectPage", "api", "api", clickType);
    }
  }
}
</script>
<style scoped lang="less">
.el-aside {
  line-height: 100px;
  text-align: center;
}
.title-wrapper{
  display: flex;
  justify-content: space-between;
  .subtitle{
  }
}

.count-number {
  font-family: 'ArialMT', 'Arial', sans-serif;
  font-size: 33px;
  color: var(--count_number);
  position: relative;
}

.rows-count-number {
  font-family: 'ArialMT', 'Arial', sans-serif;
  font-size: 19px;
  color: var(--count_number);
  position: relative;
  margin-left: 10px;
  float: left;
}

.count-number-show {
  margin: 20px auto;
}

.detail-container {
  margin-top: 30px
}

.no-shadow-card {
  width: 115px;
  float: right;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .1);
}

.default-property {
  font-size: 12px
}

.main-property {
  color: #F39021;
  font-size: 12px
}

.el-card /deep/ .el-card__header {
  border-bottom: 0px solid #EBEEF5;
}

.count-info-div {
  margin: 3px;
  white-space: nowrap;
  font-size: 14px;
}

/deep/ .count-info-div >p {
  font-size: 10px;
}

.info-tool-tip {
  position: absolute;
  top: 0;
}
</style>
