<template>
  <ms-container>
    <ms-main-container>
      <el-card class="table-card" v-loading="result.loading">
        <template v-slot:header>
          <ms-table-header :condition.sync="condition" @search="search"
                           :show-create="true"
                           @create="create"
                           />
        </template>
        <el-table ref="reportListTable" border :data="tableData" class="adjust-table table-content" @sort-change="sort"
                  @select-all="handleSelectAll"
                  @select="handleSelect"
                  :height="screenHeight"
                  @row-click="handleView">
          <el-table-column
            type="selection"/>
          <el-table-column width="40" :resizable="false" align="center">
            <el-dropdown slot="header" style="width: 14px">
              <span class="el-dropdown-link" style="width: 14px">
                <i class="el-icon-arrow-down el-icon--right" style="margin-left: 0px"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native.stop="isSelectDataAll(true)">
                  {{ $t('api_test.batch_menus.select_all_data', [total]) }}
                </el-dropdown-item>
                <el-dropdown-item @click.native.stop="isSelectDataAll(false)">
                  {{ $t('api_test.batch_menus.select_show_data', [tableData.length]) }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <template v-slot:default="scope">
              <show-more-btn :is-show="scope.row.showMore" :buttons="buttons" :size="selectDataCounts"/>
            </template>
          </el-table-column>

          <ms-table-column
            prop="id"
            label="编号"
            :show-overflow-tooltip="false"
            width="100px">
          </ms-table-column>

          <el-table-column prop="port" label="端口" width="150">
          </el-table-column>
          <el-table-column prop="language" label="语言" width="150" show-overflow-tooltip/>
          <el-table-column prop="master" label="负责人" width="150" show-overflow-tooltip/>
          <el-table-column prop="codePath" label="代码地址" width="150" show-overflow-tooltip/>
          <el-table-column prop="remark" label="备注" show-overflow-tooltip/>
        </el-table>
        <ms-table-pagination :change="search" :current-page.sync="currentPage" :page-size.sync="pageSize"
                             :total="total"/>
      </el-card>
      <el-dialog :close-on-click-modal="false" :title="$t('test_track.plan_view.test_result')" width="60%"
                 :visible.sync="resVisible" class="api-import" destroy-on-close @close="resVisible=false">
        <ms-request-result-tail :response="response" ref="debugResult"/>
      </el-dialog>
      <el-dialog :close-on-click-modal="false" title="新增项目" width="500px"
        :visible.sync="isCreateDialogShow" class="api-import">
        <el-form ref="createForm" :model="createForm" label-width="100px">
          <el-form-item prop="port" 
            label="端口" 
            :rules="[{required: true, message: '请输入端口'}]">
            <el-input placeholder="请输入端口" v-model="createForm.port"></el-input>
          </el-form-item>
          <el-form-item prop="language" 
            label="语言"
            :rules="[{required: true, message: '请输入端口'}]"
          >
            <el-input placeholder="请输入语言" v-model="createForm.language"></el-input>
          </el-form-item>
          <el-form-item prop="master" 
            label="负责人"
            :rules="[{required: true, message: '请输入负责人'}]"
          >
            <el-input placeholder="请输入负责人" v-model="createForm.master"></el-input>
          </el-form-item>
          <el-form-item prop="codePath" 
            label="代码地址"
            :rules="[{required: true, message: '请输入代码地址'}]"
          >
            <el-input placeholder="请输入代码地址" v-model="createForm.codePath"></el-input>
          </el-form-item>
          <el-form-item prop="remark" 
            label="备注"
            :rules="[{required: true, message: '请输入备注'}]"
          >
            <el-input placeholder="请输入备注" v-model="createForm.remark"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer">
          <el-button type="primary" @click="createSave">确定</el-button>
          <el-button type="default" @click="isCreateDialogShow=false">取消</el-button>
        </div>
      </el-dialog>
    </ms-main-container>
  </ms-container>
</template>

<script>
import {getCurrentProjectID} from "@/common/js/utils";
import {REPORT_CONFIGS} from "../../../common/components/search/search-components";
import {_filter, _sort} from "@/common/js/tableUtils";
import MsTableColumn from "@/business/components/common/components/table/MsTableColumn";
import MsRequestResultTail from "../../../api/definition/components/response/RequestResultTail";

export default {
  components: {
    ReportTriggerModeItem: () => import("../../../common/tableItem/ReportTriggerModeItem"),
    MsTableOperatorButton: () => import("../../../common/components/MsTableOperatorButton"),
    MsApiReportStatus: () => import("./ApiReportStatus"),
    MsMainContainer: () => import("../../../common/components/MsMainContainer"),
    MsContainer: () => import("../../../common/components/MsContainer"),
    MsTableHeader: () => import("../../../common/components/MsTableHeader"),
    MsTablePagination: () => import("../../../common/pagination/TablePagination"),
    ShowMoreBtn: () => import("../../../track/case/components/ShowMoreBtn"),
    MsTableColumn,
    MsRequestResultTail,
  },
  data() {
    return {
      result: {},
      resVisible: false,
      response: {},
      reportId: "",
      debugVisible: false,
      condition: {
        components: REPORT_CONFIGS
      },
      isCreateDialogShow: false,
      createForm: {
        port: '',
        language: '',
        master: '',
        codePath: '',
        remark: ''
      },
      tableData: [],
      multipleSelection: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      loading: false,
      currentProjectId: "",
      buttons: [
        {
          name: this.$t('api_report.batch_delete'),
          handleClick: this.handleBatchDelete,
          permissions: ['PROJECT_API_REPORT:READ+DELETE']
        }
      ],
      selectRows: new Set(),
      selectAll: false,
      unSelection: [],
      selectDataCounts: 0,
      screenHeight: 'calc(100vh - 200px)',
    }
  },
  watch: {
    '$route': 'init',
  },

  methods: {
    create() {
      this.isCreateDialogShow = true;
    },
    createSave() {
      this.$refs.createForm.validate((valid) => {
        if(!valid) {
          return;
        }
        this.tableData.push({
          id: (Math.random() + '').slice(-6),
          ...this.createForm
        })
        this.$refs.createForm.resetFields();
        this.isCreateDialogShow = false;
      })
    },
    search() {
      if (this.testId !== 'all') {
        this.condition.testId = this.testId;
      }
      this.condition.projectId = getCurrentProjectID();
      this.selectAll = false;
      this.unSelection = [];
      this.selectDataCounts = 0;
      let url = "/api/scenario/report/list/" + this.currentPage + "/" + this.pageSize;
      this.result = this.$post(url, this.condition, response => {
        let data = response.data;
        this.total = data.itemCount;
        this.tableData = data.listObject;
        this.selectRows.clear();
        this.unSelection = data.listObject.map(s => s.id);
      });
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    getExecResult(apiCase) {
      if (apiCase.id) {
        let url = "/api/definition/report/get/" + apiCase.id;
        this.$get(url, response => {
          if (response.data) {
            try {
              let data = JSON.parse(response.data.content);
              this.response = data;
              this.resVisible = true;
            } catch (error) {
              this.resVisible = true;
            }
          }
        });
      }
    },
    handleView(report) {
      this.reportId = report.id;
      if (report.status === 'Running') {
        this.$warning(this.$t('commons.run_warning'))
        return;
      }
      if (report.reportType.indexOf('SCENARIO') !== -1 || report.reportType === 'API_INTEGRATED') {
        this.currentProjectId = report.projectId;
        this.$router.push({
          path: 'report/view/' + report.id,
        })
      } else {
        this.getExecResult(report);
      }
    },
    handleDelete(report) {
      this.$alert(this.$t('api_report.delete_confirm') + report.name + "？", '', {
        confirmButtonText: this.$t('commons.confirm'),
        callback: (action) => {
          if (action === 'confirm') {
            this.result = this.$post("/api/scenario/report/delete", {id: report.id}, () => {
              this.$success(this.$t('commons.delete_success'));
              this.search();
            });
          }
        }
      });
    },
    init() {
      this.testId = this.$route.params.testId;
      this.search();
    },
    sort(column) {
      _sort(column, this.condition);
      this.init();
    },
    filter(filters) {
      _filter(filters, this.condition);
      this.init();
    },
    handleSelect(selection, row) {
      if (this.selectRows.has(row)) {
        this.$set(row, "showMore", false);
        this.selectRows.delete(row);
      } else {
        this.$set(row, "showMore", true);
        this.selectRows.add(row);
      }
      this.selectRowsCount(this.selectRows)
    },
    handleSelectAll(selection) {
      if (selection.length > 0) {
        this.tableData.forEach(item => {
          this.$set(item, "showMore", true);
          this.selectRows.add(item);
        });
      } else {
        this.selectRows.clear();
        this.tableData.forEach(row => {
          this.$set(row, "showMore", false);
        })
      }
      this.selectRowsCount(this.selectRows)
    },
    handleBatchDelete() {
      this.$alert(this.$t('api_report.delete_batch_confirm') + "？", '', {
        confirmButtonText: this.$t('commons.confirm'),
        callback: (action) => {
          if (action === 'confirm') {
            let ids = Array.from(this.selectRows).map(row => row.id);
            let sendParam = {};
            sendParam.ids = ids;
            sendParam.selectAllDate = this.isSelectAllDate;
            sendParam.unSelectIds = this.unSelection;
            sendParam = Object.assign(sendParam, this.condition);
            this.$post('/api/scenario/report/batch/delete', sendParam, () => {
              this.selectRows.clear();
              this.$success(this.$t('commons.delete_success'));
              this.search();
            });
          }
        }
      });
    },
    selectRowsCount(selection) {
      let selectedIDs = this.getIds(selection);
      let allIDs = this.tableData.map(s => s.id);
      this.unSelection = allIDs.filter(function (val) {
        return selectedIDs.indexOf(val) === -1
      });
      if (this.isSelectAllDate) {
        this.selectDataCounts = this.total - this.unSelection.length;
      } else {
        this.selectDataCounts = selection.size;
      }
    },
    isSelectDataAll(dataType) {
      this.isSelectAllDate = dataType;
      this.selectRowsCount(this.selectRows)
      //如果已经全选，不需要再操作了
      if (this.selectRows.size != this.tableData.length) {
        this.$refs.reportListTable.toggleAllSelection(true);
      }
    },
    getIds(rowSets) {
      let rowArray = Array.from(rowSets)
      let ids = rowArray.map(s => s.id);
      return ids;
    },
    rename(data) {
      this.$post("/api/scenario/report/reName/", data, () => {
        this.$success(this.$t("organization.integration.successful_operation"));
        this.init();
        this.$refs.renameDialog.close();
      });
    }
  },

  created() {
    this.init();
  }
}
</script>

<style scoped>
.table-content {
  width: 100%;
}
</style>
