<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
  <title>AI自动化测试平台-1.0</title>
</head>
<body>
<div id="login"></div>
</body>
</html>
